.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #1cc6c8;
  border-radius: 20px;
  background: #1cc6c8;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #1db1b0;
  border-color: #1db1b0;
}

.button--inverse {
  background: transparent;
  color: #979797;
  border-color: #ccc;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #fcc088;
  border-color: #ccc;
}

.button--danger {
  background: #f34343;
  border-color: #f34343;
}

.button--danger:hover,
.button--danger:active {
  background: #ab2121;
  border-color: #ab2121;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}