.question-form {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 3rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: #F2F7FF;
}

#firstName{
  width: 50%;
  display: inline-block;
}

#lastName {
  width: 50%;
  display: inline-block;
}

#contact {
  width: 50%;
} 

